nav{
    background: linear-gradient(90deg,#006747,#003b29);
    box-shadow: white 0 0 50px 0;
    padding: 10px;
    color: white;
}
header h1{
    margin-left: 40px;
}
main{
    background: linear-gradient(#006746,#000d0a);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.addtocart{
    background-color: #c50000;
    border-color: darkred;
}
.addtocart:hover{
    background-color: #a10000;
    border-color: #520000;
}
.produkt{
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    border: gray solid 2px;
    border-radius: 20px;
}
main .co{
    border: gray solid 1px;
    margin: 20px;
}
.bg-red{
    background-color: #a00000;
    min-height: 20vw;
}
a{
    text-decoration: none;
}
.tani{
    text-decoration: line-through red;
}
html{
    background: linear-gradient(#006746,#000d0a);
}
header img{
    width: 5%;
}
.opis{
    display: grid;
    grid-template-rows: auto auto;
}
.etapy{
    display: grid;
    grid-template-rows: auto auto auto;
}
#row2{
    display: grid;
    grid-template-columns: auto auto;
}
.role>div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-template-rows: auto;
}
.role img{
    width: 100%;
}
.dominacja{
    display: flex;
    justify-content: center;
}
main a{
    color: black;
    text-decoration: none;
}
body{
    height: 100vh;
    background: linear-gradient(#006746,#000d0a);
}
.czemu{
    background: none;
}